@font-face{
    font-family: "Font1";
    src: url('./IMPACT.TTF');
    font-style: normal;
    font-weight: normal;
}

#HELLO{
    font-family: "Font1", sans-serif;
    font-size: 100px;
}

html{
    display:flex;
    justify-content: center;
    align-items: center;
}